.cyan {
    background-color: #4285f4 !important;
}

.cyan-text {
    color: #4285f4 !important;
}

body {
    background-color: #fafafa;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

main {
    background-color: #fafafa;
    padding-top: 16px;
    padding-bottom: 116px;
}

.navbar-fixed {
    z-index: 100 !important;
}

.side-nav {
    z-index: 99999 !important;
    padding-top: 0;
}

.side-nav .divider {
    margin: 8px 0;
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
}

.side-nav .mdi {
    margin-top: 1px;
    font-size: 24px;
}

.side-nav .nav-title {
    display: inline-block;
    height: 56px;
    vertical-align: middle;
    padding: 8px 0 8px 34px;
}

.side-nav .nav-title a {
    float: right;
    margin-top: -48px;
    margin-right: -104px;
    padding: 0;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
}

nav .brand-logo.left {
    left: 8%;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left {
        left: 10%;
    }
}

/*
@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: block;
    }
}
*/

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
    color: #4285f4;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
}

.btn {
    float: right;
}

.btn:hover {
    background-color: #4285f4;
}

.slides .caption {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.slides .indicators .indicator-item.active {
    background-color: #4285f4;
}

#admin-content {
    display: none;
}

#normal-content {
    display: none;
}

#guest-content {
    display: block;
}

#logout {
    display: none;
}

.fab {
    position: fixed;
    z-index: 10 !important;
    right: 16px;
    bottom: 116px;
}

.login-container {
    margin-left: 33%;
}

.primary-text {
    color: rgba(0, 0, 0, 0.87);
}

.secondary-text {
    color: rgba(0, 0, 0, 0.54);
}

.tertiary-text {
    color: rgba(0, 0, 0, 0.38);
}

.text-link {
    color: #4285f4;
    cursor: pointer;
    margin-bottom: -16px;
    margin-left: 12px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
    cursor: pointer;
}

.grid-item .grid-item-content {
    padding: 0 16px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.grid-item .grid-item-content .mdi {
    margin-top: -44px;
    margin-right: -6px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.38);
    float: right;
    cursor: pointer;
}

.grid-item .divider {
    padding: 0;
    margin: 0;
}

.section-content {
    padding-left: 16px;
    padding-right: 16px;
}

.section-title {
    padding-left: 8px;
    padding-bottom: 16px;
}

.secondary-content {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.38);
}

.playlist-title {
    text-transform: capitalize;
}

.divider {
    margin-top: 16px;
    margin-bottom: 24px;
}

.player {
    display: block;
    position: fixed;
    z-index: 15 !important;
    bottom: 0;
    height: 96px;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
}

.player .buttons {
    display: inline-block;
    margin-top: 16px;
    margin-left: -24px;
    cursor: pointer;
}

.player .buttons .mdi {
    margin-top: auto;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    z-index: 10;
}

#pause-button {
    display: none;
}

#song-player {
    display: none;
}

.range-field {
    margin: 0 0;
    color: #4285f4;
}

.progress {
    width: 100%;
    height: 8px;
    margin: 0;
    cursor: pointer;
}

.player-img {
    display: block;
    width: 72px;
    height: 72px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.song-details {
    display: block;
    float: left;
    text-align: left;
    margin-top: -8px;
    margin-left: 16px;
}

.whole-volume-container {
    display: inline-block;
    float: right;
}

.volume-container {
    margin-top: 40px;
    margin-right: 8px;
    width: 50%;
    float: right;
}

.volume-icon {
    font-size: 24px;
    float: right;
    color: rgba(0, 0, 0, 0.38);
    margin-top: -36px;
    margin-right: 95%;
    cursor: pointer;
}

.volume-icon-low {
    font-size: 24px;
    float: right;
    color: rgba(0, 0, 0, 0.38);
    margin-top: 24px;
    margin-right: 25%;
    cursor: pointer;
}

.btn {
    margin: 4px;
}

.collection .collection-item.avatar i.circle {
    font-size: 24px;
}

.collection .collection-item.avatar {
    min-height: 64px;
}

.product-icon {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

