<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    <head>
        <meta charset="UTF-8">
        <title>SoundWave</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- 'theme-color' will set background color in Chrome browser on Android 5.0+ -->
        <meta name="theme-color" content="#4285F4">

        <!-- Favicons -->
        <link rel="shortcut icon" href="../static/favicons/sw72.png">
        <link rel="apple-touch-icon" href="../static/favicons/sw57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicons/sw72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicons/sw114.png">
        <link rel="apple-touch-icon-precomposed" href="favicons/sw32.png">

        <link rel="icon" href="../static/favicons/sw32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#4285F4">
        <meta name="msapplication-TileImage" content="../static/favicons/sw72.png">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="//cdn.materialdesignicons.com/2.6.95/css/materialdesignicons.min.css"
              rel="stylesheet">
        <link href="../static/bulma.min.css" rel="stylesheet"/>
        <link href="../static/main.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav class="navbar is-fixed-top has-shadow" role="navigation"
                 aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" onclick="toggleDrawer();">
                        <i class="mdi mdi-menu"></i> SoundWave
                    </a>
                </div>
            </nav>
            <input type="checkbox" id="drawer-check"/>
            <div class="drawer">
                <nav>
                    <ul>
                        <li><a href="#"><i class="mdi mdi-facebook"></i>&nbsp;&nbsp;Facebook</a>
                        </li>
                        <li><a href="#"><i class="mdi mdi-google-plus"></i>&nbsp;&nbsp;Google
                                                                           Plus</a>
                        </li>
                        <li><a href="#"><i class="mdi mdi-twitter"></i>&nbsp;&nbsp;Twitter</a>
                        </li>
                        <li><a href="#"><i class="mdi mdi-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
                        </li>
                        <li><a href="#"><i
                                class="mdi mdi-pinterest"></i>&nbsp;&nbsp;Pinterest</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="drawer-container"></div>
        </header>

        <section class="section">
            <div class="container">
                <h2>Team</h2>
                <br>
                <div class="columns">
                    <div class="column">
                        <div id="avatar-sebastian" class="avatar circular"></div>
                        <h5 class="has-text-centered">Sebastian Mayorga</h5>
                        <p class="has-text-centered">Business Expert</p>
                    </div>
                    <div class="column">
                        <div id="avatar-julian" class="avatar circular"></div>
                        <h5 class="has-text-centered">Julian Gonzalez</h5>
                        <p class="has-text-centered">Scrum Master</p>
                    </div>
                    <div class="column">
                        <div id="avatar-jahir" class="avatar circular"></div>
                        <h5 class="has-text-centered">Jahir Fiquitiva</h5>
                        <p class="has-text-centered">Product Owner</p>
                    </div>
                    <div class="column">
                        <div id="avatar-christian" class="avatar circular"></div>
                        <h5 class="has-text-centered">Christian Carrero</h5>
                        <p class="has-text-centered">Software Engineer</p>
                    </div>
                </div>
            </div>
        </section>

        <script src="../static/js/main.js" lang="text/javascript"></script>
    </body>
</html>